
* {background-color: grey;
margin:0;
padding:0;
align-content: center;}

#german-1 {background-color: black;
height: 50px;
width: 300px;

}

  #german-2 {background-color: red;
  height: 50px;
  width: 300px;
  
}

    #german-3 {background-color: yellow;
    height: 50px;
    width: 300px;
    
}

.france {display:flex;}

#france-1 {background-color: blue;
  height: 150px;
  width:90px;
  
}
  #france-2 {background-color: white;
  height: 150px;
  width:90px;
  
}
    #france-3 {background-color: red;
    height: 150px;
    width: 90px;
    
}


.germany:hover #german-1{background-color: red}
.germany:hover #german-2{background-color: white}
.germany:hover #german-3{background-color: green}

.france:hover #france-1{background-color: green}
.france:hover #france-2{background-color: white}
.france:hover #france-3{background-color: orange}